
.about-content {
  padding: 20px;
  line-height: 1.6;
  color: var(--text-light);
}

.about-content h2 {
  margin-bottom: 20px;
}

.about-content p {
  margin-bottom: 15px;
}

.about-content strong {
  font-weight: 600;
}


.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 200px;
  height: 100px;
  text-align: center;
}

.social-button i {
  font-size: 18px;
}

.social-button:hover {
  transform: translateY(-3px);
}


.facebook {
  background-color: #3b5998;
}

.facebook:hover {
  box-shadow: 0 4px 12px rgba(59, 89, 152, 0.5);
}

.linkedin {
  background-color: #0077b5;
}

.linkedin:hover {
  box-shadow: 0 4px 12px rgba(0, 119, 181, 0.5);
}

.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.instagram:hover {
  box-shadow: 0 4px 12px rgba(253, 89, 73, 0.5);
}


@media (max-width: 480px) {
  .social-button {
    width: 90%;
  }
}